NEXT_PUBLIC_SUPABASE_URL=https://wqccprmbdkpdhziyeedq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable__WFBkPF1A5dNsa3ZFSX7ZA_5-ULECUQ
GEMINI_API_KEY=AQ.Ab8RN6KqPCn83yGcLKs37VqFeWUpZ3l0M7Rf4dw345Qg_wlI-w
