NEXT_PUBLIC_SUPABASE_URL=https://wqccprmbdkpdhziyeedq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable__WFBkPF1A5dNsa3ZFSX7ZA_5-ULECUQ
NEXT_PUBLIC_GEMINI_API_KEY=AQ.Ab8RN6JSTZZOsOq9zmnJfhAkfi_KMdom2rtVgBgx4KVnMGTDKws
